@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=DotGothic16&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=RocknRoll+One&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

:root {
  --myFont: 'Alegreya Sans SC', sans-serif;
  --menuFont: "RocknRoll One", sans-serif;
  --dark1: #201b12;
  --dark2: #3a1717;
  --med1: #382f21;
  --med2: #401e1e;
  --light1: #4d402c;
  --bright1: #8a2525;
  --grey0: rgb(226, 226, 226);
  --grey1: rgb(187, 187, 187);
  --grey2: rgb(70, 70, 70);
  --card1: #d6cab8;
  --card2: #ad9a7d;
}

body {
  background-color: var(--grey1);
  font-family: var(--myFont);
  font-size: medium;
  color: var(--med1);
}

body #card-description {
  font-size: large;
  color: var(--card1);
}

body #card-extra {
  color: var(--card2);
}

body #card-meta {
  font-size: x-large;
  color: var(--card1);
}

body #card-title {
  font-family: var(--menuFont);
  font-size: x-large;
  color: var(--card2);
}

body #main-content {
  width: 90%;
}

body #menu {
  background-color: var(--dark2);
  color: var(--grey0);
  margin: 5px;
  box-shadow: 0 0 5px 2px var(--light1);
}

body #menu-center {
  border: none;
  box-shadow: none;
  background: transparent;
}

body #menu-item {
  font-family: var(--menuFont);
  font-weight: 500;
  font-size: x-large;
  color: var(--grey1);
  padding: 0 2em;
}

body #page-header {
  font-family: var(--myFont);
  font-size: xxx-large;
  font-weight: 800;
  text-align: center;
  padding: 1.5em;
  text-shadow: 0 2px 2px  var(--bright1);
}

body #team-cards {
  background-color: var(--dark2);
  color: var(--card1);
}